<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>
  </head>

  <body>
  <nav class="navbar sticky-top navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">HELLO</span>
    <span class="navbar mb-0 h3">Hello, Customer Name</span>
    <form class="form-inline">
      <button class="btn btn-outline-secondary" type="button">Logout</button>
    </form>
  </nav>

  <div class="container">
    <div class="row">
      <h1>MENU</h1>
      <div class="col-9" id="menuContainer">
      
      </div>
      <div class="col-3">
        <h3>Cart</h3>
        <div id='cartContainer' class="card">
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Total: 0.00</h5>
            <form id= "checkoutbtn" class="form-inline" >
              <input type="submit" value="Checkout">
            </form>
          </div>
        </div>
        <div class="card">
          <div id= "status" hidden="true" class="card-body">
            <h4 class="card-title">Order Confirmed</h4>
            <h5 class="card-subtitle">Status</h5>
            <p></p>
            <h4 class="card-subtitle">Being Prepared</h4>
            <p></p>
            <h5 class="card-subtitle">Estimated Wait Time: 0 minutes</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer" style="background-color:lightgrey">
    <div class="container">
      <span>FOOTER</span>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>