<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/customer.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/checkout.js"></script>
  </head>

  <body>
    <nav class="navbar sticky-top">
      <img class="navbar-brand" src="https://i.imgur.com/EG01gRE.png">
        <form class="form-inline">
          <span class="welcome">Welcome, Pizza Lover</span>
          <input class="btn btn-outline-secondary" type="button" value="Logout" onclick="window.location.href='/'">
        </form>
    </nav>

  <div class="container">
    <div class="row">
      <div class="col-9">
        <h1>Menu</h1>
        <div class="row" id="menuContainer">

        </div>
      </div>
      <div class="col-3">
        <h1>Cart</h1>
        <div id="checkoutcard" class="card">
          <div class="card-body">
            <p class="card-title">Cheese Pizza</p>
            <img src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13882.png">
            <p class="card-title">Quantity: </p>
            <p class="card-title">Price: 9.99</p>
          </div>
        </div>
        <div id="totalcard" class="card">
          <div class="card-body">
            <h5 class="card-title">Total: 0.00</h5>
            <form id= "checkoutbtn" class="form-inline" >
              <input type="submit" value="Checkout">
            </form>
          </div>
        </div>
        <div class="card">
          <div id= "status" hidden="true" class="card-body">
            <h4 class="card-title">Order Confirmed</h4>
            <h5 class="card-subtitle">Status</h5>
            <p></p>
            <h4 class="card-subtitle">Being Prepared</h4>
            <p></p>
            <h5 class="card-subtitle">Estimated Wait Time: 0 minutes</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <img class="footerlogo" src="https://i.imgur.com/cVdvqyz.png">
      <img class="footermap" src="https://i.imgur.com/7rQOC3R.jpg">
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>