<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>

  </head>

  <body>
    <nav class="navbar sticky-top">
      <img class="navbar-brand"src="https://i.imgur.com/EG01gRE.png">
      <form class="form-inline">
        <img class="navbar-icon" src="https://image.flaticon.com/icons/svg/152/152808.svg">
        <img class="navbar-icon" src="https://image.flaticon.com/icons/svg/152/152809.svg">
        <img class="navbar-icon" src="https://image.flaticon.com/icons/svg/152/152826.svg">
        <img class="navbar-icon" src="https://image.flaticon.com/icons/svg/152/152827.svg">
        <input class="btn btn-outline-secondary" type="button" value="LOGIN CUSTOMER" onclick="window.location.href='/customer/1'">
        <input class="btn btn-outline-secondary" type="button" value="LOGIN OWNER" onclick="window.location.href='/owner'">
      </form>
    </nav>

    <!-- <div class="mainbanner">
      <div class="row">
        <img src="https://i.imgur.com/QR1BCBk.jpg" />
      </div>
    </div> -->

    <div class="mainvideo">
      <div class="row">
        <video autoplay muted loop id="myVideo">
          <source src="https://d2v9y0dukr6mq2.cloudfront.net/video/preview/4wEm5uKoeil3z1slg/beautiful-collage-of-pizza-life-moments-in-italy_eyg0bq5tg__SB_PM.mp4" type="video/mp4">
        </video>
        <img src="http://i.imgur.com/lmBrwBu.jpg">
      </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-4">
              <img src="https://i.imgur.com/4cWrYmO.jpg">
              <h1>HOMEMADE</h1>
              <p>Lorem ipsum dolor sit amet, eu sed enim iisque. Sed dictas labitur ei, aliquam constituto voluptatum est et, quis graece accusata ex mei. Ei eum nostrud quaeque officiis, mel ei aliquam fuisset consequuntur, ex modo electram his. Pro no veniam utamur aperiri. Scripta nostrud accumsan est cu. Ex vim putant sapientem, omnis habemus suavitate cu sea.</p>
            </div>
            <div class="col-4">
              <img src="https://i.imgur.com/zoBW3d2.jpg">
              <h1>ARTISIAN</h1>
              <p>Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora. An mei nonumes eligendi, sea ne habemus facilisi delicata.</p>
            </div>
            <div class="col-4">
              <img src="https://i.imgur.com/yi19BaW.jpg">
              <h1>RESTAURANT</h1>
              <p>Homero vidisse at his, cum recusabo mediocrem at. Per utinam apeirian mnesarchum et, labitur argumentum et ius, te wisi etiam nullam quo. Ut pri oratio albucius dignissim, sea tation delectus maluisset an. Quem virtute sea te. Ne dolor audire pertinax qui, per debet eleifend partiendo te. Dicta vivendum suscipiantur mel ne.</p>
            </div>
        </div>
    </div>
    <div class="container">
      <h1>Menu</h1>
      <div class="row" id="menuContainer">
      </div>
    </div>

    </div>
    <div class="container" id="aboutUs">
      <h1>About Us</h1>
      <div class="row" id="aboutContainer1">
          <div class="col-5">
            <img src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/306-ted003900-chim.jpg?h=370&dpr=1.5&fit=default&crop=default&auto=format&fm=jpg&q=50&vib=3&con=3&usm=15&ixlib=js-1.1.1&s=3247d1d1964bccba13d92d20a469afa6">         
          </div>
          <div class="col-1">
          </div>
          <div class="col-6">
            <p>Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora. An mei nonumes eligendi, sea ne habemus facilisi delicata. Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora. An mei nonumes eligendi, sea ne habemus facilisi delicata. Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora.</p>
          </div>
      </div>
      <div class="row" id="aboutContainer2">
          <div class="col-6">
              <p>Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora. An mei nonumes eligendi, sea ne habemus facilisi delicata. Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora. An mei nonumes eligendi, sea ne habemus facilisi delicata. Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora.</p>
            </div>
            <div class="col-1">
              </div>
          <div class="col-5">
            <img src="https://riotfest.org/wp-content/uploads/2016/03/the-specials-pizza.jpg">         
          </div>
      </div>

    </div>
  </div>
  <footer>
      <div class="containerfooter">
          <div class="row">
              <div class="col-8">
                <img class="footerlogo" src="https://i.imgur.com/cVdvqyz.png">
              </div>
              <div class="col-2">
                <p>
                    401 W Georgia St #600 
                    <br>
                    Vancouver
                    <br> 
                    British Columbia
                    <br>
                    V6B 5A1
                </p>
              </div>
              <div class="col-2">
                <img class="footermap" src="https://i.imgur.com/7rQOC3R.jpg">
              </div>
          </div>
      </div>
    </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  </body>
</html>


















































<!-- <video autoplay loop muted poster="screenshot.jpg" id="background">
  <source src="https://staging.coverr.co/s3/mp4/Breakfest.mp4" type="video/mp4">
</video>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>www.viewlike.us</h1>
    </div>
  </div>
</div> -->


















