<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <!-- <script type="text/javascript" src="/scripts/frontend-app.js"></script> -->

  </head>

  <body>
    <nav class="navbar sticky-top">
      <img class="navbar-brand"src="https://i.imgur.com/EG01gRE.png">
      <form class="form-inline">
        <input class="btn btn-outline-secondary" type="button" value="LOGIN" onclick="window.location.href='/customer'">
        <input class="btn btn-outline-secondary" type="button" value="REGISTER">
      </form>
    </nav>

    <div class="mainbanner">
      <div class="row">
        <img src="https://i.imgur.com/QR1BCBk.jpg" />
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
              <img src="https://i.imgur.com/4cWrYmO.jpg">
              <h1>HOMEMADE</h1>
              <p>Lorem ipsum dolor sit amet, eu sed enim iisque. Sed dictas labitur ei, aliquam constituto voluptatum est et, quis graece accusata ex mei. Ei eum nostrud quaeque officiis, mel ei aliquam fuisset consequuntur, ex modo electram his. Pro no veniam utamur aperiri. Scripta nostrud accumsan est cu. Ex vim putant sapientem, omnis habemus suavitate cu sea.</p>
            </div>
            <div class="col-sm">
              <img src="https://i.imgur.com/zoBW3d2.jpg">
              <h1>ARTISIAN</h1>
              <p>Amet semper consulatu quo ea, ut justo constituam temporibus his, cu pro sale dicam. Mea ut saperet fabellas, ne sint homero reprimique per. Mea fuisset deleniti persecuti ex, at his paulo numquam veritus. Dicunt malorum no mea, mea te assum impetus corpora. An mei nonumes eligendi, sea ne habemus facilisi delicata.</p>
            </div>
            <div class="col-sm">
              <img src="https://i.imgur.com/yi19BaW.jpg">
              <h1>RESTAURANT</h1>
              <p>Homero vidisse at his, cum recusabo mediocrem at. Per utinam apeirian mnesarchum et, labitur argumentum et ius, te wisi etiam nullam quo. Ut pri oratio albucius dignissim, sea tation delectus maluisset an. Quem virtute sea te. Ne dolor audire pertinax qui, per debet eleifend partiendo te. Dicta vivendum suscipiantur mel ne.</p>
            </div>
          </div>
    </div>
    <div class="container">
      <h1>MENU</h1>
      <div class="row">


        <div class="col-4">
          <div class="card">
          <img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13882.png">
            <p class="card-title">Cheese Pizza</p>
            <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers. Please eat responsibly - we do not offer any MSDS sheets.</p>
            <p class="price">9.99<p>
          </div>
        </div>

        <div class="col-4">
            <div class="card">
<img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13960.png">
              <p class="card-title">Cheese Pizza</p>
              <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers. Please eat responsibly - we do not offer any MSDS sheets.</p>
              <p class="price">9.99<p>
            </div>
          </div>

          <div class="col-4">
            <div class="card">
<img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13070.png">
              <p class="card-title">Cheese Pizza</p>
              <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers. Please eat responsibly - we do not
                offer any MSDS sheets.</p>
              <p class="price">9.99<p>
            </div>
          </div>

          <div class="col-4">
            <div class="card">
<img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13920.png">
              <p class="card-title">Cheese Pizza</p>
              <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers. Please eat responsibly - we do not
                offer any MSDS sheets.</p>
              <p class="price">9.99<p>
            </div>
          </div>

          <div class="col-4">
            <div class="card">
<img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13950.png">
              <p class="card-title">Cheese Pizza</p>
              <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers. Please eat responsibly - we do not
                offer any MSDS sheets.</p>
              <p class="price">9.99<p>
            </div>
          </div>

          <div class="col-4">
            <div class="card">
<img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/STTPS.png">
              <p class="card-title">Cheese Pizza</p>
              <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers. Please eat responsibly - we do not
                offer any MSDS sheets.</p>
              <p class="price">9.99<p>
            </div>
          </div>

        </div>
    </div>

  </div>

  <footer class="footer">
    <div class="container">
      <img class="footerlogo" src="https://i.imgur.com/cVdvqyz.png">
      <img class="footermap" src="https://i.imgur.com/7rQOC3R.jpg">
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  </body>
</html>


















































<!-- <video autoplay loop muted poster="screenshot.jpg" id="background">
  <source src="https://staging.coverr.co/s3/mp4/Breakfest.mp4" type="video/mp4">
</video>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>www.viewlike.us</h1>
    </div>
  </div>
</div> -->


















