//Customer

<div class="card">
  <img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13882.png">
  <p class="card-title">Cheese Pizza</p>
  <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers.</p>
  <p class="card-price">9.99</p>
  <form class="form-inline">
    <span>Quantity</span>
    <input id="quantity-number" type="text">
    <input id="add-button" class="btn btn-outline-secondary" type="button" value="Add to Order">
  </form>
</div>