//Customer


//Menu card
<div class="card">
  <img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13882.png">
  <p class="card-title">Cheese Pizza</p>
  <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers.</p>
  <p class="card-price">9.99</p>
  <form class="form-inline">
    <span>Quantity</span>
    <input id="quantity-number" type="text">
    <input id="add-button" class="btn btn-outline-secondary" type="button" value="Add to Order">
  </form>
</div>

//Cart card
<div class="card-body">
  <p class="card-title">Cheese Pizza</p>
  <img src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13882.png">
  <p class="card-title">Quantity: </p>
  <p class="card-title">Price: 9.99</p>
</div>

//Menu card read-only
<div class="col-4">
  <div class="card">
  <img class="card-image-top" src="https://cdn.pizzapizza.ca/o33/static/PPLNEWWEB/EN/products/full/1x/13882.png">
    <p class="card-title">Cheese Pizza</p>
    <p class="card-text">Cheese Pizza Galore! This pizza will give you super powers. Please eat responsibly - we do not offer any MSDS sheets.</p>
    <p class="price">9.99<p>
  </div>
</div>

// Total fail
let $total = $('#total');
let counter = 0;

$('#totalprice').each(function () {
let price = ($this.data('add-price') * quant);
console.log(quant);
counter += price;
});

$total.text('Total: ' + counter)


// vendor cards
<div class="row">

    <div class="col-12">
      <div class=card>
        <p class="card-title">Order Summary</p>
        <form id="completebutton" class="form-inline">
            <input class="btn btn-outline-secondary" type="submit" value="Ready for Pickup">
        </form>
      </div>
    </div>

    <div class="col-12">
      <div class=card>
        <p class="card-title">Order Summary</p>
        <form class="form-inline">
          <input id="completebutton" class="btn btn-outline-secondary" type="button" value="Ready for Pickup">
        </form>
      </div>
    </div>

  </div>

  <h1>COMPLETED</h1>
  <div class="row">

    <div class="col-12">
      <div class=card>
        <p class="card-title">Order Summary</p>
      </div>
    </div>

    <div class="col-12">
      <div class=card>
        <p class="card-title">Order Summary</p>
      </div>
    </div>
