<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/orderline.js"></script>
  <script type="text/javascript" src="/scripts/submit.js"></script>
</head>

  <body>
  <nav class="navbar sticky-top navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">HELLO</span>
    <span class="navbar mb-0 h3">Hello, Customer Name</span>
  </nav>

  <div id='submitContainer' class=container>
      dsfsdfsdfgsdf
      sdfsdgfd
      sdgsdfgsdf
  </div>

  <div class=container>
    <h1>ORDERS</h1>
      <div id='orderContainer' class=card>

      </div>
  </div>



    

  <footer class="footer fixed-bottom" style="background-color:lightgrey">
    <div class="container">
      <span>FOOTER</span>
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>