body{
  background-color: white;
  nav {
    background-color: white;
    height: 100px;
    img {
      width: 300px;
      margin-left: 1em;
    }
    form.form-inline {
      button.btn { 
        color: grey;
        margin: 0.5em;
      }
    }
  }

  div.mainbanner {
    
    img {
      width: 90%;
      height: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  
  div.container {
    div.row{
      margin-top: 4em;
      margin-bottom: 4em;
      div.col-sm img{
        width: 320px;
        height: 320px;
        padding: 2em;
        margin: auto;
      }
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
  }
  div.container {
    
    h1 {
      
    }
    div.row { 
      
      div.col-4 {
        margin-bottom: 2em;
        div.card {
          border: none;
          img.card-image-top {
            width: 100%;
          }
          p.card-title {
            font-weight: bold;
          }
          p.card-text {

          }
          p.price {

          }
        }
      }
    }
  }
  footer.footer {
    background-color:rgb(206, 206, 206);
    height: 150px;
    // border-top: 2px;
    // border-top-style: solid; 
    // border-top-color: rgb(224, 224, 224);
      div.container {
        margin: 0px;
        img.footerlogo {
          width: 200px;
          margin: 30px;
        }
        img.footermap {
          width:150px;
        }
      }
  }
}